
## <summary>policy for bitqube</summary>


########################################
## <summary>
##	Transition to bitqube.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitqube_domtrans',`
	gen_require(`
		type bitqube_t, bitqube_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitqube_exec_t, bitqube_t)
')


########################################
## <summary>
##	Execute bitqube server in the bitqube domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitqube_initrc_domtrans',`
	gen_require(`
		type bitqube_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitqube_initrc_exec_t)
')


########################################
## <summary>
##	Search bitqube lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitqube_search_lib',`
	gen_require(`
		type bitqube_var_lib_t;
	')

	allow $1 bitqube_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitqube lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitqube_read_lib_files',`
	gen_require(`
		type bitqube_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitqube_var_lib_t, bitqube_var_lib_t)
')

########################################
## <summary>
##	Manage bitqube lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitqube_manage_lib_files',`
	gen_require(`
		type bitqube_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitqube_var_lib_t, bitqube_var_lib_t)
')

########################################
## <summary>
##	Manage bitqube lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitqube_manage_lib_dirs',`
	gen_require(`
		type bitqube_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitqube_var_lib_t, bitqube_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitqube environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitqube_admin',`
	gen_require(`
		type bitqube_t;
		type bitqube_initrc_exec_t;
		type bitqube_var_lib_t;
	')

	allow $1 bitqube_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitqube_t)

	bitqube_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitqube_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitqube_var_lib_t)

')

