policy_module(bitqube, 1.100.1)

########################################
#
# Declarations
#

type bitqube_t;
type bitqube_exec_t;
init_daemon_domain(bitqube_t, bitqube_exec_t)

permissive bitqube_t;

type bitqube_initrc_exec_t;
init_script_file(bitqube_initrc_exec_t)

type bitqube_conf_t;
files_type(bitqube_conf_t)

type bitqube_var_lib_t;
files_type(bitqube_var_lib_t)

type bitqube_var_run_t;
files_type(bitqube_var_run_t)

type bitqube_port_t;
corenet_port(bitqube_port_t)

########################################
#
# bitqube local policy
#
allow bitqube_t self:process { fork };

allow bitqube_t self:fifo_file rw_fifo_file_perms;
allow bitqube_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bitqube_t, bitqube_conf_t, bitqube_conf_t)
manage_files_pattern(bitqube_t, bitqube_conf_t, bitqube_conf_t)

manage_dirs_pattern(bitqube_t, bitqube_var_lib_t, bitqube_var_lib_t)
manage_files_pattern(bitqube_t, bitqube_var_lib_t, bitqube_var_lib_t)
files_var_lib_filetrans(bitqube_t, bitqube_var_lib_t, { dir file })

manage_dirs_pattern(bitqube_t, bitqube_var_run_t, bitqube_var_run_t)
manage_files_pattern(bitqube_t, bitqube_var_run_t, bitqube_var_run_t)

sysnet_dns_name_resolve(bitqube_t)
corenet_all_recvfrom_unlabeled(bitqube_t)

allow bitqube_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bitqube_t)
corenet_tcp_sendrecv_generic_node(bitqube_t)
corenet_tcp_sendrecv_all_ports(bitqube_t)
corenet_tcp_bind_generic_node(bitqube_t)

gen_require(`
    type bitqube_port_t;
')
allow bitqube_t bitqube_port_t:tcp_socket name_bind;

gen_require(`
    type bitqube_port_t;
')
allow bitqube_t bitqube_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bitqube_t)

files_read_etc_files(bitqube_t)

miscfiles_read_localization(bitqube_t)

sysnet_dns_name_resolve(bitqube_t)

allow bitqube_t bitqube_exec_t:file execute_no_trans;
allow bitqube_t self:process setsched;
corecmd_exec_ls(bitqube_t)
corenet_tcp_connect_http_port(bitqube_t)
dev_read_urand(bitqube_t)
fs_getattr_xattr_fs(bitqube_t)
kernel_read_system_state(bitqube_t)
